body {
    text-align: center;
    background-color: #440251;
  }
  
  #level-title {
    font-family: 'Anta', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    border-radius: 0 100% 0 0;
    box-shadow: rgba(255, 255, 255, 0.342) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(228, 67, 67);
  }
  
  .green {
    border-radius: 100% 0 0 0;
    box-shadow: rgba(255, 255, 255, 0.342) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(7, 130, 13);
  }
  
  .blue {
    border-radius: 0 0 100% 0;
    box-shadow: rgba(255, 255, 255, 0.342) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(19, 168, 179);
  }
  
  .yellow {
    border-radius: 0 0 0 100%;
    box-shadow: rgba(255, 255, 255, 0.342) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(230, 230, 17);
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
